table, th, td{
    border: 1px solid black
}
#coding_card_img, #vg_card_img, #skateboarding_card_img{
    height:250px;
    width:300;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

}
#addInterestForm{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

#submitButton{
    margin-top:5%;
}