
<!DOCTYPE html>
    <html>
      <head>
        
        <title>About Me</title>
	      <link href="../site.css" rel="stylesheet">
      </head>
      <body>
          <a class="nav-link" href="../index.html">index.html <span class="sr-only">(current)</span></a>
        <h1>Busch, Kevin</h1><br>
        <p>I'm half Japanese, have ADHD, and I'm left handed. I'm studying computer science because I like to make things with computers.</p><br>
        <h2>My Professional Profile</h2><br><br>
        <p><a href="https://github.com/kmsbusch/">My Github</a></p><br>
        <img src= https://i.pinimg.com/736x/fd/39/e7/fd39e7ef2894baae6fd530cf8366bd68.jpg  alt="Quirky Capital K" height="500" width="500" ><br>
        <h3>My Favorite Projects</h3><br>
        <table class="table " >
          <thead>
            <tr>
              <th scope="col">Name of the Project</th>
              <th scope="col">Technologies used</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Bomb Lab</th>
              <td>C++, Assembly</td>
            </tr>
            <tr>
              <td scope="row">CSCIHack</th>
              <td>C++</td>
            </tr>
            <tr>
              <td scope="row">Music Database</th>
              <td>Python, C++</td>
            </tr>
          </tbody>
        </table><br>
        <h4>My Interests:</h4>
        <ul>
          <li>Video Games</li>
          <li>Skateboarding</li>
          <li>Coding</li>
        </ul>

      </body>
    </html>
